# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    #LexikJWTAuthenticationBundle
    jwt_key_pass_phrase: secret

    #defuse encryption key
    defuse_key: def000004d733de5dfd2bc5ba0bfd1e43b12047bf7b3516038798a95fd2c9bef8374df809573ebd32757f25230e048b6bc32858e14dd0705b0ec77b78b98231e20cb875c

    #2FA server name
    app.security.param.servername: "partners.infotelecom.al"

    #Email sending account
    email_username: ~
    email_password: ~

    # Configured Api Versions
    api_versions:
      - "v1.0"
      - "v1.1"
      - "v2.0"