{% extends 'account/dashboard_layout.html.twig' %}
{% block dashboardcontent %}
    <form class="form-horizontal" action="" method="post">
        <fieldset>
            <!-- Form Name -->
            <legend>Ndrysho Fjalekalimin</legend>

            <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="piCurrPass">Fjalekalimi Aktual</label>
                <div class="col-md-4">
                    <input id="piCurrPass" name="piCurrPass" type="password" placeholder=""
                           class="form-control input-md" required="">
                </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="piNewPass">Fjalekalimi i Ri</label>
                <div class="col-md-4">
                    <input id="piNewPass" name="piNewPass" type="password" placeholder=""
                           class="form-control input-md" required="">

                </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="piNewPassRepeat">Perserit Fjalekalimin e Ri</label>
                <div class="col-md-4">
                    <input id="piNewPassRepeat" name="piNewPassRepeat" type="password" placeholder=""
                           class="form-control input-md" required="">

                </div>
            </div>

            <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="bCancel"></label>
                <div class="col-md-8">
                    <button id="bCancel" name="bCancel" class="btn btn-danger">Anullo</button>
                    <button id="bGodkend" name="bGodkend" class="btn btn-success">Konfirmo</button>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(".nav-pills > li").removeClass("active");
        $("#change-password-link").addClass("active");
    </script>
{% endblock %}