{% extends 'admin/blog_post/formLayout.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Edit Blog Post</h1>

                {{ include('admin/blog_post/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
