{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Activate Google Authenticator!</h1>

                <form class="form" action="" method="post">
                    {% for flashMessage in app.session.flashbag.get("error") %}
                        <div class="alert alert-danger">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                    <img src="{{ qrCodeURL }}">
                    <br>
                    <p class="label"><label for="_auth_code">Authentication Code</label></p>
                    <p class="widget"><input id="_auth_code" type="text" autocomplete="off" name="_auth_code"/></p>
                    <p class="submit"><input type="submit" value="Login"/></p>
                    <p class="cancel"><a href="{{ path("security_logout") }}">Cancel</a></p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}